
body{
  font-family: 'helvetica';
  text-align: center;
  background-color: #cbf1f5;
}
h1{
  color: black;
  display:inline-block;
  width:360px;
  font-size: 2rem;
}

p {
  display: inline-block;
  margin: 0;
  padding: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: black;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#about{
  background-color: #cbf1f5;
  position: relative;
}

.colored-carousel{
  background-color: #f6dfeb;
  color: black;
  justify-content: center;
}
/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Monsterrat-Black', sans-serif;
}

#agreement{
  padding: 7% 15%;
  position: relative;
}

.desc{
  font-size: 1.5rem;
}


.colored-section{
  background-color: #a6e3e9;
  color: black;
}
