
body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  text-align: center;
  background: #50a3a2;
  width: 100%;
  height: 100%;
}
h1{
  color: white;
  display:inline-block;
  width:360px;
  font-size: 2rem;
}

p {
  display: inline-block;
  margin: 0;
  padding: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.container-fluid {
  padding: 3% 15% 7%;
}

#about{
  background-color: #cbf1f5;
  position: relative;
}

.colored-carousel{
  background-color: #50a3a2;
  justify-content: center;
}
/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  color: white;
}

.navbar-nav.ml-auto.nav-item.nav-link{
  font-size: 1.2rem;
  color: white;
}
  

#agreement{
  padding: 7% 15%;
  position: relative;
}

.desc{
  font-size: 1.5rem;
}

.date{
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  color: white;
}

.colored-section{
  background-color: #a6e3e9;
  color: white;
}

.form {
  padding: 20px 0;
  position: relative;
}
	
.form-input {
  border: 1px solid rgba(252, 252, 252, 0.4);
  background-color: rgba(252, 252, 252, 0.2);
  width: 250px;
  border-radius: 3px;
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
  display: block;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: 300;
}

.form-button {
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #50a3a2;
  border-radius: 3px;
  width: 250px;
  font-size: 18px;
  position: relative;
}
